<a href="https://colab.research.google.com/github/LuisDLCP/MineriaDatos-PC2/blob/main/create_neuralNetwork_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
pip install sklite

Collecting sklite
  Downloading sklite-0.0.2-py3-none-any.whl (11 kB)
Installing collected packages: sklite
Successfully installed sklite-0.0.2

In [ ]:
#root_path="./drive/MyDrive/Master_Program_CC/AprendizajeAutomatico/PC2/Dataset/"
#!ls {root_path}

root_path="./sample_data/"

**1) Import the Dataset**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_excel(root_path + "Dataset_final.xlsx")
df.head()

      rms_x     rms_y     rms_z     spc_x     spc_y  ...  E2  E3  E4  E5  E6
0  1.123152  1.505962  0.611471  0.165145  0.050070  ...   1   0   0   0   0
1  1.487090  1.669933  0.622680  0.162416  0.061106  ...   1   0   0   0   0
2  1.317462  1.427856  0.663076  0.183840  0.047816  ...   1   0   0   0   0
3  1.498560  1.815675  0.724357  0.199099  0.051180  ...   1   0   0   0   0
4  1.573426  1.674134  0.963957  0.154565  0.049664  ...   1   0   0   0   0

[5 rows x 15 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2295 entries, 0 to 2294
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   rms_x   2295 non-null   float64
 1   rms_y   2295 non-null   float64
 2   rms_z   2295 non-null   float64
 3   spc_x   2295 non-null   float64
 4   spc_y   2295 non-null   float64
 5   spc_z   2295 non-null   float64
 6   frq_x   2295 non-null   int64
 7   frq_y   2295 non-null   int64
 8   frq_z   2295 non-null   int64
 9   E1      2295 non-null   int64
 10  E2      2295 non-null   int64
 11  E3      2295 non-null   int64
 12  E4      2295 non-null   int64
 13  E5      2295 non-null   int64
 14  E6      2295 non-null   int64
dtypes: float64(6), int64(9)
memory usage: 269.1 KB

In [ ]:
df.describe().transpose()

        count      mean       std  ...       50%       75%       max
rms_x  2295.0  0.571481  0.649624  ...  0.436689  0.815715  4.236566
rms_y  2295.0  1.192242  1.912351  ...  0.317126  1.297769  8.500280
rms_z  2295.0  0.809225  1.047381  ...  0.409203  1.175224  6.302798
spc_x  2295.0  0.149671  0.087430  ...  0.134229  0.208026  0.552612
spc_y  2295.0  0.055376  0.038390  ...  0.039446  0.056810  0.295634
spc_z  2295.0  0.074441  0.069923  ...  0.041336  0.074109  0.452891
frq_x  2295.0  2.095861  1.533257  ...  2.000000  3.000000  8.000000
frq_y  2295.0  1.056645  1.744419  ...  0.000000  2.000000  6.000000
frq_z  2295.0  1.221351  1.692791  ...  0.000000  3.000000  6.000000
E1     2295.0  0.329412  0.470102  ...  0.000000  1.000000  1.000000
E2     2295.0  0.142484  0.349622  ...  0.000000  0.000000  1.000000
E3     2295.0  0.135948  0.342808  ...  0.000000  0.000000  1.000000
E4     2295.0  0.066667  0.249498  ...  0.000000  0.000000  1.000000
E5     2295.0  0.053595  0.225265  ...  0.000000  0.000000  1.000000
E6     2295.0  0.066667  0.249498  ...  0.000000  0.000000  1.000000

[15 rows x 8 columns]

In [ ]:
df.shape

(2295, 15)

In [ ]:
# Getting X and Y 
X = df[['rms_x', 'rms_y', 'rms_z', 'spc_x', 'spc_y', 'spc_z', 'frq_x', 'frq_y','frq_z']]
X.head()

      rms_x     rms_y     rms_z     spc_x  ...     spc_z  frq_x  frq_y  frq_z
0  1.123152  1.505962  0.611471  0.165145  ...  0.235599      2      4      4
1  1.487090  1.669933  0.622680  0.162416  ...  0.246576      2      0      4
2  1.317462  1.427856  0.663076  0.183840  ...  0.268246      2      4      2
3  1.498560  1.815675  0.724357  0.199099  ...  0.174332      2      4      4
4  1.573426  1.674134  0.963957  0.154565  ...  0.262076      2      4      2

[5 rows x 9 columns]

In [ ]:
y = df[['E1', 'E2', 'E3', 'E4', 'E5', 'E6']]
y.head()

   E1  E2  E3  E4  E5  E6
0   0   1   0   0   0   0
1   0   1   0   0   0   0
2   0   1   0   0   0   0
3   0   1   0   0   0   0
4   0   1   0   0   0   0

**2) Train-Test split**

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.75)

In [ ]:
X.shape

(2295, 9)

In [ ]:
X_train.shape

(1721, 9)

In [ ]:
X_test.shape

(574, 9)

**3) Normalize data**

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()
# Fit only to the training data
scaler.fit(X_train)

StandardScaler()

In [ ]:
# Now apply the transformations to the data:
X_train = scaler.transform(X_train) # 2D array
X_test = scaler.transform(X_test) # 2D array

**4) Training the model**

In [ ]:
from sklearn.neural_network import MLPClassifier

In [ ]:
mlp = MLPClassifier(hidden_layer_sizes=(10,10,10),max_iter=1500) # 3 hidden layers, with 13 neurons each

In [ ]:
mlp.fit(X_train,y_train)

MLPClassifier(hidden_layer_sizes=(10, 10, 10), max_iter=1500)

**5) Predictions and Evaluation**

In [ ]:
predictions = mlp.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report,confusion_matrix

In [ ]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.82      0.98      0.90       167
           1       0.93      0.96      0.94        70
           2       0.99      0.99      0.99        89
           3       0.92      0.27      0.42        41
           4       0.91      0.81      0.86        37
           5       0.97      0.89      0.93        38

   micro avg       0.90      0.89      0.89       442
   macro avg       0.92      0.82      0.84       442
weighted avg       0.90      0.89      0.88       442
 samples avg       0.69      0.69      0.69       442

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in samples with no predicted labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in samples with no true labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
from sklite import LazyExport

lazy = LazyExport(mlp)
lazy.save('./sample_data/modelo.json')

ModuleNotFoundError: ignored

In [ ]:
input = [[-0.76771555, -0.58833449, -0.70600155, -1.08988017, -0.51588202, -0.5666892, -1.36844914, -0.59416085, -0.72106802]]

resultado = mlp.predict(input)

print(resultado)

(574, 9)
[[0 0 0 1 0 0]]

In [ ]:
pip install sklearn-json

Collecting sklearn-json
  Downloading sklearn_json-0.1.0-py3-none-any.whl (12 kB)
Requirement already satisfied: scikit-learn>=0.21.3 in /usr/local/lib/python3.7/dist-packages (from sklearn-json) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21.3->sklearn-json) (3.0.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21.3->sklearn-json) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21.3->sklearn-json) (1.19.5)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21.3->sklearn-json) (1.4.1)
Installing collected packages: sklearn-json
Successfully installed sklearn-json-0.1.0

In [ ]:
import sklearn_json as skljson
from sklearn.ensemble import RandomForestClassifier

file_name = './sample_data/modelo.json'

skljson.to_json(mlp, file_name)

In [ ]:

deserialized_model = skljson.from_json(file_name)

input = [[-0.76771555, -0.58833449, -0.70600155, -1.08988017, -0.51588202, -0.5666892, -1.36844914, -0.59416085, -0.72106802]]

resultado = deserialized_model.predict(input)

print(resultado)

/usr/local/lib/python3.7/dist-packages/sklearn_json/classification.py:544: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  model.coefs_ = np.array(model_dict['coefs_'])
/usr/local/lib/python3.7/dist-packages/sklearn_json/classification.py:546: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  model.intercepts_ = np.array(model_dict['intercepts_'])

AttributeError: ignored